<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.teamkang.fauxclock"
	android:versionName="0.72" android:versionCode="18">
	<uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_drawer_name"
		android:name="OCApplication">

		<activity
			android:name=".receiver.AppDrawer"
			android:label="@string/app_drawer_name"
			android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".Main"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".receiver.BootReceiver"
			android:enabled="true"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>

	</application>
</manifest>